<!--<h1>Today</h1> -->
<!-- <p>"The date is <%= DateTime: 2015-11-18"%></p> -->


<!-- <p>The date is <%=Date.today.strftime("%A, %B, %d, %Y")%></p> -->

<!--(Date.today.strftime("%A, %B %d, %Y") -->

<!-- <%end%> -->


!DOCTYPE html>
<html>
    <head>
      <title>Date</title>
    </head>
    <body>
      <h1>Today</h1>
      <% date = Date.today.strftime("%A, %B %d, %Y") %>
      <p>The date is <%= date %></p>
    </body>
</html> 
